body{
 background-image:url('https://media.giphy.com/media/3o6gben1fyr2NAxAqc/giphy.gif');
  background-repeat: repeat;
  background-size: 450px 325px;
  }
 
   #demo{
  text-align:center;
   position: relative;
   top: 150px;
   font-size:100px;
   color:#751aff;
   
  }
   